POSTGRES_USUARIO=veloz
POSTGRES_SENHA=troque-esta-senha
RABBITMQ_USUARIO=veloz
RABBITMQ_SENHA=troque-esta-senha
NIVEL_LOG=INFO
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
GRAFANA_USUARIO=admin
GRAFANA_SENHA=admin
